<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Medi Care {% block title %}{% endblock %}</title>



    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicons/favicon.ico">
    <link rel="manifest" href="static/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">



    <link href="static/css/theme.css" rel="stylesheet" />
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <main class="main" id="top">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="/"><img class="d-inline-block me-3" src="static/img/icons/logo.png" alt="" />Medi Helper</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
                <li class="nav-item"><a class="nav-link fw-bold active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Find a doctor</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Apps</a></li>
                <li class="nav-item"><a class="nav-link" href="#testimonial">Testimonials</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <br><br>
        <div class="wrapper" style="height: 80%;">
        {% block main%}{% endblock %}
        </div>
  
    </main>





    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="static/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&amp;display=swap" rel="stylesheet">
</body>
</html>